[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name=Dungeon
Exec=/usr/bin/single-instance /opt/Dungeon/bin/Dungeon
Icon=/usr/share/icons/hicolor/80x80/apps/Dungeon80.png
X-Window-Icon=
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable
